<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結合後設認知策略與運算思維框架的互動式程式設計合作學習環境</title>
    <style>
        .header {
            padding: 20px;
            text-align: left;
        }

        .article {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            max-width: 1500px;
            margin: 20px auto 20px;
            padding: 30px 40px 50px;
            border-radius: 15px;
            background: #F0F0F2;
            box-shadow: 0 2px 2px;
        }

        .body {
            background-color: #BFC5D9
        }
    </style>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body class="body">
    <div class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <header>
                <h2 class="text-light">
                    結合後設認知策略與運算思維框架的互動式程式設計合作學習環境
                </h2>
            </header>
            <ul class="navbar-nav px-3 text-light">
                <li class="text-light">@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()       
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
