<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結合後設認知策略與運算思維框架的互動式程式設計合作學習環境</title>
    <style>
        .header {
            padding: 20px;
            text-align: left;
        }
        .cardArticle {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            max-width: 1200px;
            margin: 20px auto 20px;
            padding: 30px 50px 30px;
            border-radius: 5px;
            background: #F0F0F2;
            border: 1px solid #dee2e6;
            border-color: #cdcdcd;
        }
        .article {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            max-width: 1200px;
            margin: 20px auto 20px;
            padding: 30px 50px 50px;
            border-radius: 5px;
            background: #F0F0F2;
            border: 1px solid #dee2e6;
            border-color: #cdcdcd;
        }

        .body {
            background-color: #f8f8f8
        }
        .navBG {
            background-color: #69899f
        }
    </style>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    
</head>
<body class="body">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light navBG " style="border-radius: 0 0 5px 5px;">
            <div class="container-fluid">
                <header>
                    <h2 class="text-light">
                        結合後設認知策略與運算思維框架的互動式程式設計合作學習環境
                    </h2>
                </header>
                <ul class="navbar-nav px-3 text-light">
                    <li class="text-light">@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
