<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>結合後設認知策略與運算思維框架的互動式程式設計合作學習環境</title>
    <style>
        .article {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 100%;
            max-width: 1500px;
            margin: 20px auto 20px;
            padding: 30px 40px 50px;
            border-radius: 15px;
            background: #F0F0F2;
            box-shadow: 0 2px 2px;
        }

        .body {
            background-color: #BFC5D9
        }
    </style>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="body">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<a class="navbar-brand" href="#"></a>*@
            <h3>
                結合後設認知策略與運算思維框架的互動式程式設計合作學習環境
            </h3>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
</body>
</html>
