@model LMSweb.Models.KnowledgePoint

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_WindowLayoutPage.cshtml";
}
<body>
    <div class="article">
        <div>
            <h4>刪除知識點</h4>
            <hr />
            <h4>確定要刪除嗎?</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KContent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KContent)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="刪除" class="btn btn-danger" />
                    <input type="button" value="取消" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "KnowledgePoints", new { cid = Model.CID })'" />
                </div>
            }
        </div>

    </div>
</body>
