@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .carl {
            align-items: center;
            background-image: url('https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-size: cover;
            background-color: #898888;
            height: 400px;
            color: white;
            opacity: 0.8;
        }
    </style>
</head>

<body>
    <div class="carl">
        <p class="font-weight-bold text-center display-4 "style="padding:100px 30px 150px 30px">
            Welcome!

        </p>
        <!--<p class="font-weight-bold text-center h4 ">-->
            @*<a value="教師首頁" style="text-decoration:none;" onclick="location.href='@Url.Action("TeacherHomePage", "Teacher")'"/>*@
            <!--@Html.ActionLink("教師首頁", "TeacherHomePage", "Teacher",null, new { @style = "color:white; text-decoration:none;"}) |  
            @Html.ActionLink("學生首頁", "StudentHomePage", "Student", null, new { @style = "color:white; text-decoration:none;" })
        </p>-->
    </div>
    
</body>
