@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .jumbotron {
            align-items: center;
            background-image: url('https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-size: cover;
            background-color: #898888;
            height: 350px;
            color: white;
            opacity: 0.8;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <p class="font-weight-bold text-center  display-4 ">Welcome!</p>
    </div>
    @Html.ActionLink("教師首頁", "TeacherHomePage", "Teacher")
    @Html.ActionLink("學生首頁", "StudentHomePage", "Student")
</body>
