@model LMSweb.ViewModel.LearnBViewModel
@{
    ViewBag.Title = "Chat";

}
@*<body class="sticky">
    <div class="container">
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>
</body>*@
<h2>Chat</h2>
<div class="container">
    <div style="width:500px; height:500px; border:2px solid #eee; border-radius:10px;">
        <div id="scroll" style="width:496px; height:420px; overflow-x:hidden; overflow-y:auto;">
            <ul id="messages" style="margin:0; padding:10px; list-style-type:none; width:100%;"></ul>
        </div>
        <div style="width:496px; height:80px; border-top:2px solid #eee;">
            <div class="row align-items-end">
                <div class="col-md-9">
                    <input type="text" id="message" placeholder="想說的話" style="width:400px; height:74px; border:0; border-bottom-left-radius:10px; resize:none;" />
                    @*<textarea id="message" placeholder="想說的話" style="width:400px; height:74px; border:0; border-bottom-left-radius:10px; resize:none;"></textarea>*@
                </div>
                <div class="col-auto">
                    <input type="button" value="Send" class="btn btn-primary" style="width:106px; height:74px;border:0; border-bottom-right-radius:10px; resize:none;" />
                    <input type="hidden" id="displayname" />
                    <input type="hidden" id="groupname" />
                    <input type="hidden" id="missionname" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script src="~/Scripts/jquery.signalR-2.4.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var chat = $.connection.chatHub;
        var today = new Date();
        var currentDateTime =
            today.getFullYear() + '/' +
            (today.getMonth() + 1) + '/' +
            today.getDate() + '/' +
            today.getHours() + ':' + today.getMinutes();
        let url = 'https://localhost:44301/api/test/live';

        //$('#missionname').val(prompt('請輸入任務編號:'));
        $('#groupname').val(prompt('請輸入組別:'));
        $('#displayname').val(prompt('請輸入暱稱:'));

        //$('#missionname').val('M001');
        //$('#groupname').val('G001');
        //$('#displayname').val('S001');

        //chat.server.creatRoom($("#groupname").val());
        //加入群組
        //chat.client.AddRoom = function (groupname) {
        //    var html = '<table class="table"> <tr><td><div id="' + groupname + '" groupname="' + groupname + '">\
        //                        <label>' + groupname + '</label>房間\
        //                                    聊天記錄如下:<ul>\
        //                                    </ul>\</table>'
        //    $("#messages").append(html);
        //};
        //訊息格式
        chat.client.addRoom($('#groupname').val());
        chat.client.groupMessage = function (groupname, name, time, message) {
            $("#" + groupname).find("ul").each(function () {              
                write_msg(groupname, name, time, message);
            })
        };
        //chat.client.receivemessage = function (name, time, message) {
        //    write_msg(name, time, message);
        //};
        //按下send送出訊息
        $(".btn-primary").click(function () {
            chat.server.send($('#groupname').val(), $('#displayname').val(), $('#message').val())
                .done(function () {
                    //用fetch將資料傳進資料庫
                    //fetch(url, {
                    //    method: 'POST',
                    //    headers: {
                    //        'Content-Type': 'application/json'
                    //    },
                    //    body: JSON.stringify({
                    //        ActionType: "D",
                    //        subAction: "R",
                    //        Detail: $('#message').val(),
                    //        Time: currentDateTime,
                    //        SID: $('#displayname').val(),
                    //        MID: "M001"
                    //    })
                    //}).then((response) => {
                    //    return response.json();
                    //}).then((jsonData) => {
                    //    console.log(jsonData);
                    //}).catch((err) => {
                    //    console.log('錯誤:', err);
                    //})
                    console.log('send suc');
                    $('#message').val("");
                })
                .fail(function (e) {
                    console.warn(e);
                });
        });
        $.connection.hub.start().done(function () {
            chat.server.creatRoom($("#groupname").val());           
        })
    });
    //function htmlEncode(value) {
    //    var encodedValue = $('<div />').text(value).html();
    //    return encodedValue;
    //}
    function write_msg(groupname, name, time, message) {
        var myid = name;
        if (myid == $('#displayname').val()) {
            $('#messages').append('<li class="me"><div><p>' + groupname + '我:'+ message + '(' + time + ')'+'</p></div><li>');
        }
        else {
            $('#messages').append('<li class="you"><div><p>' + groupname + name + ':' + message + '(' + time + ')' + '</p></div><li>');
        }
    }
    function AddRoom(groupname) {
        var data = $(groupname).attr("groupname");
        chat.server.AddGroup(data);
    }
</script>
}