@model LMSweb.ViewModel.LearnBViewModel
@using System.Collections.Generic;

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<div class="article">
    <table class="table">
        <thead>
            <tr>
                <th>動作內容</th>
                <th>時間</th>
                <th>學生</th>
                <th>組別</th>
            </tr>
        </thead>

        @foreach (var item in Model.learningbehavior)
        {
            <tr>
                <th>
                    @item.Detail
                </th>
                <th>
                    @item.Time
                </th>
                <th>
                    @item.student.SID
                </th>
                <th>
                    @item.group.GID
                </th>
            </tr>
        }
    </table>
</div>
<script type="text/javascript">
    //鼠标点击
    function picClick(obj) {
        var hid = $(obj).parent().find("input[type='hidden']");

        //赋值
        hid.val($(obj).attr("val"));
        hid.attr("num", $(obj).attr("num"));
        hid.attr("title", $(obj).attr("title"));
    }

    //鼠标移入
    function picMouseOver(obj) {
        $(obj).parent().find("img").attr("src", $(obj).attr("src1")); //全部置灰

        //设置高亮图片
        var currentNum = $(obj).attr("num");
        for (var i = 0; i < currentNum; i++) {
            $(obj).parent().find("img:eq(" + i + ")").attr("src", $(obj).attr("src2"));
        }

        //显示文本
        $(obj).parent().find("#spanResult").text($(obj).attr("title"));
    }

    //鼠标移出
    function picMouseOut(obj) {
        $(obj).parent().find("img").attr("src", $(obj).attr("src1")); //全部置灰
        $(obj).parent().find("#spanResult").text(""); //显示文本

        var hid = $(obj).parent().find("input[type='hidden']");
        if (hid.val()) {
            //设置高亮图片
            var currentNum = hid.attr("num");
            for (var i = 0; i < currentNum; i++) {
                $(obj).parent().find("img:eq(" + i + ")").attr("src", $(obj).attr("src2"));
            }

            //显示文本
            $(obj).parent().find("#spanResult").text(hid.attr("title"));
        }
    }
</script>