@model LMSweb.ViewModel.LearnBViewModel
@using System.Collections.Generic;

@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<div class="article">
    <h2>同儕互評</h2>
    <h2>組員:Aaron</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>評價指標</th>
                <th>好(4-5)</th>
                <th>一般(3)</th>
                <th>待改進(1-2)</th>
            </tr>
        </thead>
        <tr>
            <th>
                學習及參與態度
            </th>
            <th>
                積極參與活動 主動提出合力建議 盡責 不缺席
            </th>
            <th>
                主動參與活動 不缺席
            </th>
            <th>
                只關心自己工作進展
            </th>
        </tr>
        <tr>
            <th>
                學習目標完成情況
            </th>
            <th>
                能夠較好的完成學習目標
            </th>
            <th>
                能夠完成學習目標 但還有點小問題
            </th>
            <th>
                能完成大部分的學習目標
            </th>
        </tr>
        <tr>
            <th>
                學習小組合作
            </th>
            <th>
                有較強的合作意識能力
            </th>
            <th>
                有一定的合作意識和能力
            </th>
            <th>
                有合作意識但不積極
            </th>
        </tr>
    </table>
</div>
