@model LMSweb.ViewModel.LearnBViewModel
@using System.Collections.Generic;
@using System.IO;

@{
    ViewBag.Title = "學生歷程";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

}

<div class="article">
    @*<div class="form-group form-inline">
            <div class="col-md-1">
                <input type="button" class="btn btn-secondary" value="個人歷程" onclick="location.href='@Url.Action("PersonalJourney", "LearningBehaviors")'" />
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-secondary" value="小組歷程" onclick="location.href='@Url.Action("GroupJourney", "LearningBehaviors")'" />
            </div>
            <div class="col-md-1">
                <input type="button" class="btn btn-secondary" value="全班歷程" onclick="location.href='@Url.Action("ClassJourney", "LearningBehaviors")'" />
            </div>
        </div>*@

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-bar-tab" data-bs-toggle="tab" data-bs-target="#nav-bar" type="button" role="tab" aria-controls="nav-bar" aria-selected="true">總覽</button>
            <button class="nav-link" id="nav-Radar-tab" data-bs-toggle="tab" data-bs-target="#nav-Radar" type="button" role="tab" aria-controls="nav-Radar" aria-selected="false">合作學習</button>
            <button class="nav-link" id="nav-personalbar-tab" data-bs-toggle="tab" data-bs-target="#nav-personalbar" type="button" role="tab" aria-controls="nav-personalbar" aria-selected="false">個人表現</button>
            <button class="nav-link" id="nav-groupbar-tab" data-bs-toggle="tab" data-bs-target="#nav-groupbar" type="button" role="tab" aria-controls="nav-groupbar" aria-selected="false">小組成果</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!--總覽-->
        <div class="tab-pane fade show active" id="nav-bar" role="tabpanel" aria-labelledby="nav-bar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                學習表現
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>
                                    總分 : 95分(合作學習 : 90 分,個人表現 : 93 分, 小組成果 : 92 分)
                                </strong>
                                合作學習分數 低於 小組平均，低於 全班平均
                                個人表現分數 低於 小組平均，低於 全班平均
                                小組成果分數 高於 全班平均
                            </div>
                        </div>
                    </div>
                </div>
                <script src="../Scripts/Chart.min.js"></script>
                <canvas id="bar"></canvas>
            </p>
        </div>
        <!--合作學習-->
        <div class="tab-pane fade" id="nav-Radar" role="tabpanel" aria-labelledby="nav-Radar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                合作學習
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                參與討論 : 90 分
                                高於 小組平均
                                高於 全班平均
                                參與規劃流程圖 : 95 分
                                低於 小組平均
                                低於 全班平均
                                參與撰寫程式碼: 89 分
                                高於 小組平均
                                高於 全班平均

                            </div>
                        </div>
                    </div>
                </div>
                <script src="../Scripts/Chart.min.js"></script>
                <canvas id="Radar"></canvas>
            </p>
        </div>
        <!--個人表現-->
        <div class="tab-pane fade" id="nav-personalbar" role="tabpanel" aria-labelledby="nav-personalbar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                個人表現
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                自我評價 : 95 分
                                高於 小組平均
                                高於 全班平均
                                同儕互評 : 85 分
                                低於 小組平均
                                等於 全班平均

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                自我評價
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                邏輯清晰度:我覺得我進步很多
                                合作態度:我很認真參與合作
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                同儕互評
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                邏輯清晰度
                                1.我覺得你進步很多
                                2.邏輯正確
                                3.很棒

                            </div>
                        </div>
                    </div>
                </div>
                <script src="../Scripts/Chart.min.js"></script>
                <canvas id="personalbar"></canvas>
            </p>
        </div>
        <!--小組成果-->
        <div class="tab-pane fade" id="nav-groupbar" role="tabpanel" aria-labelledby="nav-groupbar-tab">
            <p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                小組成果
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                教師評分 : 95分
                                高於 全班平均
                                教師評語 :
                                邏輯思維非常清楚,非常有效率地維持任務
                            </div>
                        </div>
                    </div>
                </div>
                <script src="../Scripts/Chart.min.js"></script>
                <canvas id="groupbar"></canvas>
            </p>
        </div>
    </div>

</div>

<!-- 合作學習 -->
<script>
    //var jsMonth = @@Html.Raw(ViewBag.JsonMonth);
    var ctx = document.getElementById("Radar");
    var chart = new Chart(ctx, {
        type: "radar",
        data: {
            labels: ['規劃', '撰寫', '討論'],
            //labels: jsName,
            datasets: [{
                label: "S002",
                //label: jsPoint[0].StudentName,
                fill: true,
                backgroundColor: 'rgba(255,165,0,0.3)',
                borderColor: 'rgb(255,135,20)',
                //pointStyle: "circle",
                //pointBackgroundColor: 'rgb(0,222,0)',
                //pointRadius: 5,
                //pointHoverRadius: 10,
                //data: jsPoint
                data: [20, 25, 29]
            },
            {
                label: "全組平均",
                //label: jsPoint[0].StudentName,
                fill: false,
                //backgroundColor: 'rgba(255,165,255,0.3)',
                borderColor: 'rgb(55,235,200)',
                //pointStyle: "circle",
                //pointBackgroundColor: 'rgb(0,222,0)',
                //pointRadius: 5,
                //pointHoverRadius: 10,
                //data: jsPoint
                data: [25, 23, 20]
            },
            {
                label: "全班平均",
                //label: jsPoint[0].StudentName,
                fill: false,
                //backgroundColor: 'rgba(255,165,255,0.3)',
                borderColor: 'rgb(255,35,100)',
                //pointStyle: "circle",
                //pointBackgroundColor: 'rgb(0,222,0)',
                //pointRadius: 5,
                //pointHoverRadius: 10,
                //data: jsPoint
                data: [21, 23, 21]
            },]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                fontSize: 26,
                text: '合作學習雷達圖'
            },
            tooltips: {
                mode: 'point',
                intersect: true,
            },
        },
        scale: {
            ticks: {
                beginAtZero: true
                // changes here
            }
        }
    });
</script>
<!-- 學習表現 -->
<script>
    var ctx = document.getElementById("bar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['合作學習', '個人貢獻', '小組成果'],
            datasets: [{
                label: "S002",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                data: [24, 32, 0]
            },
            {
                label: "全組平均",
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                data: [21, 33, 22]
            },
            {
                label: "全班平均",
                backgroundColor: [
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                data: [26, 32, 31]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            title: {
                display: true,
                fontSize: 26,
                text: '學習表現'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }]
            }
        }
    });
</script>
<!-- 個人貢獻 -->
<script>
    var ctx = document.getElementById("personalbar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['自我評分', '組內互評'],
            datasets: [{
                label: "S002",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                data: [24, 32]
            },
            {
                label: "全組平均",
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                data: [21, 33]
            },
            {
                label: "全班平均",
                backgroundColor: [
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                data: [26, 32]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            title: {
                display: true,
                fontSize: 26,
                text: '個人貢獻'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }]
            }
        }
    });
</script>
<!-- 小組成果 -->
<script>
    var ctx = document.getElementById("groupbar");
    var chart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ['教師評分'],
            datasets: [{
                label: "小組分數",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                data: [95]
            },
            {
                label: "全班平均",
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)'
                ],
                data: [93]
            }],
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top'
                }
            },
            title: {
                display: true,
                fontSize: 26,
                text: '小組成果'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }]
            }
        }
    });
</script>

