@model LMSweb.ViewModel.StudentHomePageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="article">
    <h5>
        課程資訊
    </h5>
    <div>
        <table class="table">
            <tr>
                <th>
                   課程名稱
                </th>
                <th>
                   授課老師
                </th>
                <th></th>
            </tr>


            <tr>

                <td>
                    @Html.DisplayFor(model => model.CName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TName)
                </td>
                <td>
                    @Html.ActionLink("進入我的課程", "StudentMission", new { cid = Model.CID })
                </td>
            </tr>


        </table>
    </div>
</div>