@model LMSweb.ViewModel.StudentHomePageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="cardArticle">
    <h4>課程資訊</h4>
</div>
<div class="article">

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        課程名稱
                    </th>
                    <th>
                        授課老師
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="number">
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(model => model.CName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TName)
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class=" btn btn-primary" onclick="location.href='@Url.Action("StudentMission", "Student", new { cid = Model.CID })'">
                                進入我的課程
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                </svg>
                            </button>
                        </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script>
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }
    </script>
}