@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentDrawing";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="article">
    <input type="button" value="任務內容" onclick="myFunction()" class="btn btn-success" />
    <h2>StudentDrawing</h2>

    <form action="@Url.Action("StudentDrawing", "Student")" method="post" enctype="multipart/form-data">

        <input type="file" accept=".png, .jpg, .jpeg" name="File" id="File" />
        <input type="submit" value="上傳" />
        <img src="~/UploadImages/01.png" />
    </form>
</div>
@section scripts
{
    <script>
        function myFunction() {
            const myWindow = window.open('@Url.Action( "StudentMDetailWindow", "Student", new { MID = Model.MID, CID = Model.CID})', "", "width=800,height=800");
        }
    </script>

}


