@model LMSweb.ViewModel.CourseViewModel

@{
    ViewBag.Title = "StudentCourse";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    </style>

</head>
<body>
    <div class="article">
        <h4>@(Model.CName)</h4>

        <hr />
        <p>
            @Html.ActionLink("編輯", "Edit", new { cid = Model.CID }) |
            @Html.ActionLink("返回", "Index")
        </p>
    </div>
</body>

