@model LMSweb.ViewModel.MissionViewModel
@{
    ViewBag.Title = "StudentCoding";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<div class="article">
    @Html.ActionLink("程式碼", "StudentCoding", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("流程圖", "StudentDrawing", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("任務內容", "StudentMissionDetail", "Student", new { MID = Model.MID, CID = Model.CID }, new { @class = "btn btn-primary" })
    <h2>StudentCoding</h2>
</div>

