<!-- UploadModal -->
<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" aria-labelledby="UploadModalLabel" aria-hidden="true">
    <form id="UploadForm" action="@Url.Action("Upload", "Student")" method="post" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UploadModalLabel">上傳並匯入資料</h5>
                    <button type="button" class="btn-close" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-3">第一步 :</p>
                    <a class="mb-3 btn btn-outline-primary" href="~/FileDownload/Example.xlsx" download>下載範例檔      <i class="bi bi-download"></i></a>
                    <br />
                    <p class="mb-3">第二步 :</p>
                    <div class="file-loading">
                        <input id="file" name="file" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>

